.card {
  max-width: 326px;
  max-height: 441px;
  color: brown;
  background-color: black;
}
.card .top {
  width: 300px;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top span {
  font-size: 1.4rem;
}
.card img {
  height: 275px;
  width: 301px;
}