header {
  background-color: black;
  height: 100px;
  display: grid;
  
}
nav {
  max-width: 1200px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;

 
}
nav .logo {
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logo a {
 display: flex;
 align-items: center;
  text-decoration: none;
  color: white;
}
.logo img {
  height: 60px;
  width: 60px;
}
.logo h2 {
  margin-left: 1.2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav ul li {
  list-style: none;
  padding: 20px;
}
nav ul li:last-child {
  padding-right: 0px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li ul {
  display: grid;
  background-color: black;
  padding-top: 1rem;
  grid-template-columns: 1fr;
  margin-left: -3rem;
  position: absolute;
  display: none;
  
}

nav li:hover ul {
  display: block;
  
}